@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sessions</h1>
<form asp-action="SaveName" method="post">
    Your name:
    <input type="text" name="name" value="@Model" />
    <input type="submit" value="Save" />
</form>
