html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.cards {

    @media only screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    @media only screen and (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pipe {
    padding: 0 1rem;
}

.bold {
    font-weight: 500;
}

.card {
    background: $card-bg;
    border-radius: 3rem;
    overflow: hidden;    

    @media only screen and (max-width: 800px) {
        margin-bottom: 4rem;
    }

    .image

{
    position: relative;
    
    img

{
    display: block;
    width: 100%;    
}

.note {
    position: absolute;
    font-family: 'Nixie One', cursive;
    border-top-left-radius: 1rem;
    right: 0;
    bottom: 0;
    padding: 8px 1.3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: $text-color;
    color: #0d0c0c;
}

}

&__content {
    padding: 3rem 2rem;
    p: not(.list-label)

{
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 2rem;
}

.list-label {
    margin-top: 2rem;
}

.bold {
    font-weight: 400;
}

}

h2, h3, p, ul {
    color: $text-color;
}

h2, h3 {
    font-family: 'Nixie One', cursive;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2.8rem;
    border-bottom: 2px solid rgba($text-color, 0.5);
    padding-bottom: 2.5rem;
    line-height: 3.2rem;

    @media only screen and (max-width: 600px) {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

h3 {
    max-width: 60%;
    font-size: 1.8rem;
    margin: 2.5rem 0 1rem;
    line-height: 2.8rem;
}

.add-ons {
    border: 1px solid rgba($text-color, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
}